run = "npm install && npm start"
language = "nodejs"

[env]
NODE_ENV = "production"

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
